 <!-- footer section -->
 <footer class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark footer-container" id="foot">
 <p id="text6">
   Copyright &copy; 2023 iMeets.com. All rights reserved | Privacy Policy
   &nbsp;
 </p>
 <ul class="navbar-nav me-auto me-sm-2">
   <li><a href="/main/about" id="text4">ABOUT &nbsp;</a></li>
   <li><a href="/main/contact" id="text5">CONTACT &nbsp;</a></li>
 </ul>
</footer>