 <!-- Navigation section -->
 <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark logo-nav-bar">
      <nav class="top-navbar">
        <!-- logo genereated using www.logomaker.com -->
        <a href="/"
          ><img id="logo" alt="" src="../images/logo.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <br />
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarCollapse"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/connection/newConnection" id="text1"
              >Start a new Connection &nbsp;</a
            >
            <button
              class="btn btn-outline-success mx-lg-2 mx-0 my-lg-0 my-lg-2 me-auto ms-auto"
              type="submit"
              id="but2"
            >
              Login
            </button>
            <button
              class="btn btn-outline-success mx-lg-2 mx-0 my-lg-0 my-lg-2 me-auto ms-auto"
              type="submit"
              id="but1"
            >
              Sign Up
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <nav
      class="navbar navbar-expand-md navbar-dark bg-success"
      id="second-nav"
    >
      <ul class="navbar-nav mr-auto">
        <li><a href="/" id="text2">Home &nbsp;</a></li>
        <li>
          <a href="/connection/connections" id="text3">Connections</a>
        </li>
      </ul>
    </nav>
  </header>