@charset "UTF-8";
#logo {
  width: 150px;
  height: 40px;
  object-fit: cover;
}
.logo-nav-bar {
  padding: 20px 40px;
}
#but1 {
  background-color: rgb(54, 202, 54);
  padding-left: 10px;
  border-radius: 10%;
  color: white;
}

a {
  text-decoration: none;
}
#but2,
#text1,
#text2,
#text4,
#text5,
#text6 {
  color: rgb(46, 201, 46);
}
#text3 {
  color: white;
}
#text6 {
  padding-left: 20px;
  padding-right: 50px;
  margin: 0px;
}
.content-container {
  margin-top: 30px;
}

.footer-container {
  color: white;
  padding: 5px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
#second {
  margin-top: 5px;
}
#text2 {
  color: white;
}
#second-nav {
  display: inline-block;
  width: 100%;
  padding: 20px 40px;
}

.nav-bar-container {
  position: sticky;
}
#foot{
  position:fixed;
}
