@charset "UTF-8";
#logo{
    width: 430px;
    height: 100px;
}
#but1{
background-color: rgb(54, 202, 54);
padding-top: 6px;
padding-bottom: 6px;
border-radius: 10%;
color:white;
}
a{
text-decoration:none;

}
#but2,#text1,#text2,#text4,#text5,#text6{
color:rgb(46, 201, 46);
}
#text3{
	color:white;
}

footer{


color: white;
padding: 5px 20px;
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
}
#second{
margin-top:5px;
}
#text2{
color:white;
}
#second-nav{
display:inline-block;
width:100%;
padding: 30px 20px 20px;
position: absolute;

}
