body{
    box-sizing: border-box;
}

.new-connection-container{
    margin: 32px;
}
.new-connection-form{
    margin-top: 48px;
}
.form-control{
    display:inline-block;
    width: 80%;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}